@charset "UTF-8";

/* Filter styles
   Air BnB clone project
*/

.filters {
    background-color: white;
    height: 70px;
    width: 100%;
    border: 1px solid #DDDDDD;
    border-radius: 4px;;
    text-align: center;
}

section.filters button {
    font-size: 18px;
    background-color: #FF5A5F;
    color: #FFFFFF;
    height: 48px;
    width: 20%;
    border-radius: 4px;
    border: 0;
    margin: 11px 30px 0;
    float: right;
}

section.filters button:hover {
    opacity: 90%;
}
