@charset "UTF-8";

/* Filter styles
   Air BnB clone project
*/

.filters {
    background-color: white;
    height: 70px;
    width: 100%;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
}

section.filters button {
    font-size: 18px;
    background-color: #FF5A5F;
    color: #FFFFFF;
    height: 48px;
    width: 20%;
    border-radius: 4px;
    border: 0;
    margin: 11px 30px 0;
    float: right;
}

section.filters button:hover {
    opacity: 90%;
}

section.filters .locations {
    height: 100%;
    width: 25%;
    display: inline-block;
    border-right: 1px solid #DDDDDD;
}

section.filters .amenities {
    height: 100%;
    width: 25%;
    display: inline-block;
}

.locations h3, .amenities h3 {
    font-weight: 600;
    margin: 15px 0 0 50px;
}

.locations h4, .amenities h4 {
    font-weight: 400;
    font-size: 14px;
    margin: 3px 0 0 50px;
}
