@charset "UTF-8";

/* Place styles
   Air BnB clone project
*/

/* places container */
.places {
    text-align: center;
}

/* Principal Title */
.places h1 {
    font-size: 30px;
    top: 0;
    text-align: left;
}

/* Each places */
.places article {
    width: 390px;
    padding: 20px;
    margin: 20px;
    border: 1px #FF5A5F solid;
    border-radius: 4px;
    display: inline-block;
}

/* Title of each place */
.places article h2 {
    font-size: 30px;
    text-align: center;
}
